<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" autocomplete="off" required>
  </div>
  <div>
    <label for="category">Category:</label>
    <select id="category" formControlName="category" required>
      <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" autocomplete="off"></textarea>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="text" id="price" formControlName="price" autocomplete="off" required>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="text" id="price" formControlName="quantity" autocomplete="off" required>
  </div>
  <div *ngIf="imageUrl == ''">
    <label for="image">Image:</label>
    <input type="file" id="image" formControlName="image" (change)="onFileChange($event)">
  </div>
  <div *ngIf="imageUrl != ''">
    <img [src]="imageUrl" imageFallback>
  </div>

  <div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onClear()">Clear</button>
  </div>
</form>
