<div class="address">
  <div class="line">Deliver to: Surya, {{ userAddress.zipCode }}</div>
  <div class="line">{{ userAddress.address1 }}, {{ userAddress.address2 }}</div>
  <button (click)="changeAddress()">Change</button>
</div>

<!-- Address Modal -->
<div class="modal" [ngClass]="{'open': isModalOpen}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Address</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancelAddress()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let address of userAddresses" class="address-item">
          <div class="radio-wrapper">
            <input type="radio" name="selectedAddress" [value]="address" [checked]="address.id === selectedAddress.id" (change)="selectAddress(address)">
          </div>
          <div class="address-details">
            <div>Surya, {{ address.zipCode }}</div>
            <div>{{ address.address1 }}, {{ address.address2 }}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveAddress()">OK</button>
        <button type="button" class="btn btn-secondary" (click)="cancelAddress()">Cancel</button>
      </div>
    </div>
  </div>
</div>
